@media (max-width: 768px) {
  .parent {
  width: 300px;
  perspective: 1000px;
}

    .selection1 {
        height:5px;
        width: 100%;
        gap: 40px;
        background-color: rgb(37, 38, 38);
      }
      .selection2 {
        height: 1200px;
        width: 100%;
        background-color: #EAF2FF;
      }
      .selection3 {
        height: 1000px;
        width: 100%;
        display: flex;
        gap: 40px;
        background-color: rgb(37, 38, 38);
      }
    ol {
      width: 100%;
      padding: 10px;
    }
    h1{
      margin-left: -10px;
      font-size: 27px;
      text-align: center;
      background: linear-gradient(90deg, rgba(14,245,255,1) 0%, rgba(255,255,255,1) 38%, rgba(0,206,255,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 4px;
      font-family: "K2D", sans-serif;
      font-weight: 600;
      z-index: 10;
    }
    h2 {
      margin-left: -10px;
      margin-top: 10px;
      font-size: 15px;
      text-align: center;
      color: rgba(255, 255, 255, 0.775);
      line-height: 2;
      letter-spacing: 4px;
      font-family: "K2D", sans-serif;
      font-weight: 500;
      z-index: -1;
    }  
    h3 {
        font-size: 30px;
        text-align: left;
        background: linear-gradient(90deg, rgba(223, 246, 247, 0.878) 0%, rgba(125, 229, 255, 0.807) 38%, rgb(123, 229, 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 4px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        z-index: 10;
        margin-top: 80px;
        margin-left: 30px;
      }  
      h4{
        font-size: 30px;
        text-align: left;
        color: #ffffffc6;
        letter-spacing: 4px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        z-index: 10;
        margin-left: 30px;
      }
      h5 {
        font-size: 20px;
        background: linear-gradient(90deg, rgba(41, 41, 41, 0.878) 0%, rgba(117, 117, 117, 0.848) 38%, rgb(10, 10, 10) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 4px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        z-index: 10;
      }  

      .whoamitext {
        font-size: 30px;
        text-align: left;
        color: #ffffffc6;
        letter-spacing: 4px;
        font-family: "K2D", sans-serif;
        font-weight: 600;
        z-index: 10;
        margin-left: 30px;
      }
      
      .imglogo{
        width: 50px; height: 50px; margin-left: -12px; margin-top: -10px;
      }
    svg{
        margin-top: 80px; margin-Left: -30px; background-color: #ffffff; height: 800px; width: 2px;
    }
    .Whoami{
        font-size: 14px;
        text-align: left;
        color: #ffffff; font-family: K2D;
        margin-top: 70px;
        margin-left: -10px;
    }
    .Learnmore {
      display: block;
      text-decoration: none;
      text-align: center;
      padding: 10px;
      width: 40%;
      margin-top: 16px;
      margin-left: 30%;
      transition: all 0.3s ease;
      color: white;
      font-size: 80%;
      border: 2px solid white;
      border-radius: 100px;
      background: #55ACEE;
      font-family: "K2D", sans-serif;
      font-weight: 600;
    }
    .my-text {
      word-wrap: break-word;
      width: 300px;
      margin-left: 35px; 
      font-size: 15px; 
      text-align: left; 
      color: #ffffff; 
      font-family: K2D; 
      font-weight: 300; 
      margin-top: 20px;
  }
    .h1B{
      font-size: 20px;
      text-align: left;
      background: linear-gradient(90deg, rgba(168, 238, 255, 0.807) 0%, rgba(223, 246, 247, 0.878) 38%, rgb(110, 226, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 4px;
      font-family: "K2D", sans-serif;
      font-weight: 600;
      z-index: 10;
      margin-top: 10px; 
      margin-left: 35px;
    }
    .dateNote {
      display: block;
      font-size: 0.7rem;
      color: #ffffffbc;
      margin-bottom: 5px;
      padding: 5px 10px;
      width: fit-content;
      margin-left: 30px;
      font-family: "K2D", sans-serif;
      font-weight: 600;
      z-index: 10;
      margin-top: -10px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(37, 38, 38);
    font-family: "K2D", sans-serif;
    font-weight: 600;
    }
    .card-container {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  gap: 30px;
  max-width: 800px;
  margin: auto;
  background-color: black;
  padding: 10px 10px;
  align-items: start; /* ✅ สำคัญ! ไม่ให้กล่องสูงเท่ากันหมด */
  }

  .Hcard{
    font-size: 30px;
    color: #ffffffc6;
    font-family: "K2D", sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px #0088ff;
  }

  .content-box .cardme-title {
  font-size: 35px;
}

.content-box .cardme-content {
  font-size: 17px;
  margin-top: 10px;
}

  /* รูปภาพด้านบนของ Card */
  .cardsmall-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  /* วันที่/เวลา */
  .timestamp {
    color: #7f8c8d;
    font-size: 12px;
    margin-top: -10px;
  }
  
  /* ข้อความ preview */
  .excerpt {
    margin-top: 5px;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .content-box .see-more {
  font-size: 14px;
  padding: 0.6rem 0.8rem;
}

  }